.modal {
  background-color: aquamarine;
  height: 100px;
  width: 100px;
  background-color: brown;
  transition: width 10s, transform 4s ease-in;
}
/*
.modal:hover {
  background-color: red;
  transform: rotate(5turn);
  width: 100%;
}
*/
.modal h1 {
  position: relative;
  transform-origin: top left;
  transition: all 0.3s;
}
.modal:hover h1 {
  transform: translateX(300px, 200px);
}
