#contenido {
    width: 90%; /* Cambiar el ancho del contenido */
    background-color: #f2f2f2; /* Cambiar el color de fondo */
}

#logo {
    text-align: left; /* Alineación a la izquierda */
    margin-bottom: 30px; /* Mayor espacio inferior */
}

#menu {
    background-color: #4CAF50; /* Cambiar el color del menú */
}

#informacion {
    margin-top: 30px; /* Mayor margen superior */
}

#pie {
    background-color: #4CAF50; /* Cambiar el color del pie */
    color: #000; /* Cambiar el color del texto en el pie */
}

#galeria {
    margin-top: 30px; /* Mayor margen superior en la galería */
}