/* Estilos generales */
body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

/* Media queries */
@media (min-width: 768px) {
  .nav-bar {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #040b14; /* Color de fondo del menú */
    z-index: 1000; /* Z-index para que esté por encima del contenido */
  }
}

/* Estilos del menú offcanvas */

#offcanvasNavbar {
  background-color: #040b14; /* Color de fondo del menú */
}
#botonMenu {
  background-color: #149ddd;
  border: none;
  width: 40px; /* Ancho */
  height: 40px; /* Alto */
  border-radius: 20px; /* Si deseas esquinas redondeadas */
}

#iconMenu {
  display: inline-block; /* Asegura que el ícono se muestre */
}

#iconCloseMenu {
  display: none; /* Oculta el ícono 'X' por defecto */
}

.offcanvas.show #iconMenu {
  display: none; /* Oculta el ícono de lista cuando el menú está abierto */
}

.offcanvas.show #iconCloseMenu {
  display: inline-block; /* Muestra el ícono 'X' cuando el menú está abierto */
}

/* Estilos del encabezado */
.header-bg {
  background-image: url("img/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Establece altura al 100% del viewport en dispositivos móviles */
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
}

.offcanvas-header .perfil img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
.rayaColorAzul {
 text-decoration-color: #149ddd; 
 text-decoration-thickness: 3px;/* Cambia el color de la línea */
}
.rayaColorAzulSmall{
  text-decoration-color: #149ddd;
  /*Cambia el largo de la linea*/
  
}
#texto-header{
  min-width: 300px;
  position: relative;
}