.float{
    float: right;
}
.header-bg {
    background-image: url('img/hero-bg.jpeg'); 
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    display: block;
    back
  }
