body {
    background-color:#2b5797;
}
h1 {
    color: #ffffff;
    font-family: Roboto;
    text-align: center;
    font-size: 32px;
}
h2 {
    color: #6b8dbf;
    font-family: Roboto;
    text-align: left;
    font-size: 24px;
}
p {
    color: #ffffff;
    font-family: Roboto;
    text-align: justify;
    font-size: 16px;
}
